* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-image: url(./drops-6392473__340.jpg);
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(black
  );
}

h1 {
  font-size: 4rem;
  text-align: center;
  margin: 0 25%;
  border-bottom: 10px solid #000;
}

form {
  text-align: center;
}

input {
  border: none;
  border-bottom: 2px solid black;
  width: 40%;
  padding: 10px 20px;
  margin: 10px 0;
  margin-left: -20px;
  box-sizing: border-box;
  background: transparent;
  outline: none;
}

input:hover {
    font-weight: 900;
}

.clic {
  border: 2px solid black;
  border-radius: 10px;
  margin-left: 5px;
}


